.comment {
    padding-top: 60px;
    padding-bottom: 70px;
    @media screen and (max-width: 1200px) {
        padding-top: 40px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        margin-top: 0;
        @media screen and (max-width: 1200px) {
            font-size: 40px;
        }
    }
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left-arrow_pic,
    &__right-arrow_pic {
        width: 17px;
        height: 30px;
    }

    &__text {
        background-color: #ADDDDE;
        max-width: 600px;
        height: 260px;
        margin: 0 43px;
        @media screen and (max-width: 767px) {
            max-width: 325px;
            height: 100%;
            margin: 0 10px;
        }      
    }
    &__person {
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 32px;
    }
    &__customer-pic {
        display: block;
        border-radius: 100%;
    }
    &__customer-name {
        color: #2D5E5E;
        font-size: 18px;
        font-weight: 500px;
        line-height: 1.33;
    }
    &__customer-text {
        margin: 0 25px;
        text-align: center;
        color: #000;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
    }
    
}