.contact {
    background-image: url(../img/map.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: row-reverse;
    &__group {
        width: 477px;
        height: 344px;
        background-color: #ADDDDE;
    }
    &__title {
        color: #2D5E5E;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
        padding-top: 29px;
        padding-left: 30px;
    }
    &__all {
        padding-top: 19px;
        padding-left: 30px;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__tel,
    &__viber,
    &__telegram,
    &__instagram,
    &__mail,
    &__adres {
        text-decoration: none;
        color: #000;
        &:hover {
            color: #2D5E5E;
            opacity: 85%;
        }
    }

}